name: Deploy Vite to GitHub Pages

on:
  push:
    branches: ['main']
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: 'pages'
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: 'npm'

      - name: Install dependencies
        working-directory: demo-sites/theme-manager-demo
        run: npm ci

      - name: Build Vite site
        working-directory: demo-sites/theme-manager-demo
        run: npm run build

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload build output
        uses: actions/upload-pages-artifact@v4
        with:
          path: './demo-sites/theme-manager-demo/dist'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
